[Unit]
Description=Mirror projects to Hetzner Storage Box

[Service]
Type=oneshot
User=root
ExecStart=/bin/bash /usr/local/bin/rclone-backup.sh
Nice=10
IOSchedulingClass=idle
